<h2>Welcome to Pizza-shop!</h2>
<br>

<div class="row">
    <% @products.each do |p| %>
    <div class="col-md-3">
        <div>
            <h4>
                <%= p.title  %>
            </h4>
        </div>
        <div>
            <img src="<%= p.path_to_image %>" height="150" width="200" vspace="20">
        </div>
        <div>
            <%= p.description %>
        </div>
        <div>
            Размер: <%= p.size %>
        </div>
        <div>
            <h4>
                <%= p.price %> р.
            </h4>
        </div>
        <!-- <div>
            <% if p.is_best_offer == true %>
                <h4>
                    Лучшее предложение!
                </h4>
            <% end %>
        </div> -->
        <div>
            <button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">
                Купить
            </button>
        </div>
    </div>
    <% end %>
</div>
